
<div class="contenido_about">
  <div class="flex_about">

      <h3 class="about_title">About section</h3>

      <p class="about_text">
        Es un hecho establecido hace demasiado
        tiempo que un lector se distraerá con el
        contenido del texto de un sitio mientras que
        mira su diseño.<br> El punto de usar Lorem
        Ipsum es que tiene una distribución más o
        menos normal de las letras, al contrario de
        usar textos como por ejemplo "Contenido aquí,
        contenido aquí". Estos textos hacen parecerlo un
         español que se puede leer.
      </p>

  </div>
</div>
