// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contenido_about {
  //background-color: pink;
  margin-top: -60px;
  .flex_about {
    width: 80%;
    //background-color: orange;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about_title {
      text-align: center;
      font-size: 1.8em;
      color: #4f5353;
    }
    .about_text {
      width: 80%;
      text-align: center;
      color: #333;
      line-height: 20px;
    }
  }
}
/**Form New Post**/
#create_post {
  width: 80%;
  margin-top: 20px;
    h1 {
      color:#4f5353;
    }
    #new_post {
      label {
        color: #656a6a;
      }
      #post_title {
        color: #2a2d2d;
        background-color: #eee;
        padding: 10px;
        border: none;
        border-left: solid 2px #c9c9c9;
        border-top: solid 2px #c9c9c9;
        transition: border 0.3s;
        outline: none;
        margin-top: 5px;
        &:focus {
          border-top: none;
          border-bottom: solid 2px #c9c9c9;
          border-left: solid 2px #c9c9c9;
          border-radius: 2px;
        }
      }
      #post_body {
        width: 90%;
        height: 400px;
        background-color: #eee;
        border: none;
        border-left: solid 2px #c9c9c9;
        border-top: solid 2px #c9c9c9;
        transition: border 0.3s;
        outline: none;
        margin-top: 5px;
        &:focus {
          border-top: none;
          border-bottom: solid 2px #c9c9c9;
          border-left: solid 2px #c9c9c9;
        }
      }
      .bottom {
        margin-top: 20px;
        input {
        border: 1px solid #a4b8b8;
        padding: 5px 12px 5px 12px;
        border-radius: 3px;
        color: #3b4040;
        background-color: #d2dfdf;
        font-family: 'Roboto', sans-serif;
        &:hover {
          background: transparent;
	        color: #22bebe;
        }
      }
      }
    }
  }

  /**Post Page**/

.carta-principal {
    width: 630px;
    height: auto;
    //padding: -5px 0px 2.5px 0px;
    background-color: rgba(#333333, 0.77);
    box-shadow:0px 5px 15px -2px rgba(#333333, 0.77);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .header-post-page {
      width: 640px;
      height: auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      .imagen-post, .title-conteiner {
        background-color: #D6E0E0;
        width: 320px;
        height: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .title-conteiner {
        //flex-direction: column;
        //background-color: transparent;
      }
    }

   .body-conteiner {
        width: 640px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .submitted-date{
          //background-color: red;
          width: 90%;
          margin-top: 7px;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          color: #917E33;
          display: flex;
          justify-content: space-between;
          .edit-dilete {
            //background-color: #D4BDBD;
            a {
              color: #9F8292;
              text-decoration: none;
            }
          }
        }
        .body-post {
          width: 90%;
          //background-color: #856473;
          padding:7px;
          margin-top: 50px;
          line-height: 19px;
          -webkit-font-smoothing: antialiased;
        letter-spacing: .1px;
        line-height: 24px;
         }
       }
}
