// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contenido_about {
  //background-color: pink;
  margin-top: -60px;
  .flex_about {
    width: 80%;
    //background-color: orange;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about_title {
      text-align: center;
      font-size: 1.8em;
      color: #4f5353;
    }
    .about_text {
      width: 80%;
      text-align: center;
      color: #333;
      line-height: 20px;
    }
  }
}
/**Form New Post**/
#create_post {
  width: 80%;
  margin-top: 20px;
    h1 {
      color:#4f5353;
    }
    #new_post {
      label {
        color: #656a6a;
      }
      #post_title {
        color: #2a2d2d;
        background-color: #eee;
        padding: 10px;
        border: none;
        border-left: solid 2px #c9c9c9;
        border-top: solid 2px #c9c9c9;
        transition: border 0.3s;
        outline: none;
        margin-top: 5px;
        &:focus {
          border-top: none;
          border-bottom: solid 2px #c9c9c9;
          border-left: solid 2px #c9c9c9;
          border-radius: 2px;
        }
      }
      #post_body {
        width: 90%;
        height: 400px;
        background-color: #eee;
        border: none;
        border-left: solid 2px #c9c9c9;
        border-top: solid 2px #c9c9c9;
        transition: border 0.3s;
        outline: none;
        margin-top: 5px;
        &:focus {
          border-top: none;
          border-bottom: solid 2px #c9c9c9;
          border-left: solid 2px #c9c9c9;
        }
      }
      .bottom {
        margin-top: 20px;
        input {
        border: 1px solid #a4b8b8;
        padding: 5px 12px 5px 12px;
        border-radius: 3px;
        color: #3b4040;
        background-color: #d2dfdf;
        font-family: 'Roboto', sans-serif;
        &:hover {
          background: transparent;
	        color: #22bebe;
        }
      }
      }
    }
  }

  /**Post Page**/

.carta-principal {
    width: 630px;
    height: auto;
    //padding: -5px 0px 2.5px 0px;
    background-color: rgba(#333333, 0.77);
    box-shadow:0px 5px 15px -2px rgba(#333333, 0.77);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px 5px 0px 0px;
    @media screen and (max-width: 760px) {
      width: 95%;
    }
    .header-post-page {
      width: 640px;
      height: auto;
      padding-top: 120px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      border-radius: 5px 5px 0px 0px;
      @media screen and (max-width: 760px) {
        width: 100%;
        //border-radius: 10px 10px 0px 0px;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        //border-radius: 10px 10px 0px 0px;
      }
      .imagen-post, .title-conteiner {
        //background-color: #D6E0E0;
        //border-radius: 5px 0px 0px 0px;
        width: 320px;
        height: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        //align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        @media screen and (max-width: 760px) {
          width: 50%;
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }

      .imagen-post {
        width: 220px;
        img {
          box-shadow: 0px 0px 15px rgba(#333333, 0.74),
                      0px 0px 0px 1px rgba(188, 205, 205, 0.11);
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }

      .title-conteiner {
        width: 420px;
        flex-direction: column;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        .title {
          color: #eee;
          margin-left: -10px;
          width: 70%;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 1.8em;
          letter-spacing: 1.6px;
          @media screen and (max-width: 600px) {
            margin-left: 0;
            text-align: center;
          }
        }

        .menu-editar {
            content: '';
            display: block;
            height: 50px;
            position: absolute;
            //margin-top:70px;
            margin-left: 320px;
            border-radius: 25px;
            //top: 50px;
            width: 50px;
            background-color: #7CC3BF;
            z-index: 1;
            cursor: pointer;
            @media screen and (max-width: 600px) {
              margin-top:0px;
              margin-left: 80%;
            }
        }
      }
    }

   .body-conteiner {
        width: 640px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 760px) {
          width: 100%;
        }
        .edit-dilete {
          background-color: rgba(#a6cdcb, 0.96);
          width: 100%;
          height: 60px;
          //padding-top: 25px;
          display: none;
          span.tools {
            width: 100%;
            height: 60px;
            background-color: #62748c;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
              i {
                color: rgba(#f0f6f6, 0.67);
                font-weight: normal;
                margin-left: 26px;
              }
              a {
                color: rgba(#f0f6f6, 0.74);
                text-decoration: none;
                font-size: 0.9em;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                //margin: 5px;
                margin-left: 3px;
                //margin-top: 20px;
              }
            }
        }
        .submitted-date{
          //background-color: red;
          width: 90%;
          margin-top: 7px;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          color: #917E33;
          display: flex;
          justify-content: space-between;
          // .edit-dilete {
          //   //background-color: #D4BDBD;
          //   a {
          //     color: #9F8292;
          //     text-decoration: none;
          //   }
          // }
        }
        .body-post {
          width: 90%;
          color: #333;
          padding:7px;
          margin-top: 50px;
          line-height: 19px;
          -webkit-font-smoothing: antialiased;
          letter-spacing: .1px;
          line-height: 24px;
         }
       }
}
//Log In Forms

.flexy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .conteiner-login {
//   width: 100%;
//   height: 100vh;
//   background-color: #444;
  .carta-login {
    width: 625px;
    height: 625px;
    background-color: #aca5a5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #bec3c2,
     2px 0 5px rgba(#333333, 0.59);
    background: {
      image: url("fondo-login-4.png"),
      url("mar3-2.jpg");
      repeat:repeat;
      size: 300px, cover;
    }
    .header-login {
      width: 537px;
      height: 84px;
      background-color: rgba(#5ca7b4, 0.94);
      margin-top: 50px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around;
      border-radius: 2px;
      align-items: center;
      box-shadow: -1px -1px 10px -1px rgba(#333, 0.36);
      p {
        width: 300px;
        color: #dfe6e4;
        font-size: 1.1em;
        text-align: center;
      }
      h1 {
        color: #dfe6e4;
        font-size: 2.2em;
      }
    }
    .forms-login {
      width: 537px;
      height: 260px;
      flex-direction: column;
      .forms-conteiner {
        width: 550px;
        height: auto;
        //background-color: orange;
        margin-top: 50px;
        flex-direction: column;

        .text-box-user, .text-box-pass {
          //margin: auto;
          width: 500px;
          height: 70px;
          padding: 7px ;
          //background-color: red;
          // h2 {
          //   width: 130px;
          //   text-align: right;
          //   color: #dfe6e4;
          // }
          .field {

            label {
              color: rgba(#d0d6d4, 0.71);
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
              font-size: 1.2em;
              //background-color: #746534;
            }
          }
          input {
            //flex: 1;
            color: #333;
            font-size: 1.4em;
            width: 300px;
            height: 35px;
            // margin-left: 5px;
            // margin-right: 20px;
            margin-top: 3px;
            padding-left: 8px;
            background-color: transparent;
            border-radius: 5px;
            border: none;
            box-shadow: 0 0 0 1.5px rgba(#d0d6d4, 0.71);
            &:focus{
              background-color: rgba(#eeeeee, 0.40);
            }
          }
        }
    }
    }
    .buton-login {
      width: 537px;
      height: 58px;
      //background-color: #327a74;
      input {
        padding: 12px 80px 12px 80px;
        background-color: rgba(#aecdcc, 0.18);
        border: none;
        box-shadow: 0 0 0 2px #bac3c3;
        border-radius: 8px;
        color: #eee;
        font-size: 1.2em;
        margin-top: 20px;
        cursor: pointer;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        &:hover {
          background: rgba(#6aa5b0, 0.44);
          // transition: background-size 2s ease-in;
          // -moz-transition: background-size 2s ease-in;
          // -ms-transition: background-size 2s ease-in;
          // -o-transition: background-size 2s ease-in;
          // -webkit-transition: background-size 2s ease-in;
          // -webkit-transition: width 5s, height 4s;
          // transition: width 5s, height 4s;
          //box-shadow: 0 0 0 2px #5ea6b3;
        }
        &:focus {
          background-color: rgba(#6aa5b0, 0.64);
          box-shadow: 0 0 0 1px #bac3c3;
          //border-radius: 9px;
          box-shadow: none;
        }
      }
    }
    .footer-login {
      width: 537px;
      height: 89px;
      background-color: #ba825e;
      margin-bottom: 5px;
      justify-content: space-between;
      //flex: 1;
      a {
        flex: 1;
        background-color: red;
      }
      // p {
      //   width: 180px;
      //   color: #eee;
      //   text-align: center;
      //   margin-top: 50px;
      //   //background-color: rgba(#333333, 0.57);
      //   padding: 10px;
      // }
      // .bara {
      //   width: 2px;
      //   height: 60%;
      //   background-color: rgba(#c8d0ce, 0.63);
      //   margin-top: 30px;
      // }
    }
   }
